@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}



:root {
  --background: #060714;
  --foreground: #FFFFFF;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Sora';
}
button{
  font-family: 'Sora';
}
button:hover{
  background-color: rgb(16, 16, 120);
}
p,a{
  font-family: 'inter';
  color:#7780A1;
  font-weight: 400;
}
a:hover{
  color:white;
  cursor: pointer;
}

h1{
  font-weight: 600;
}
